$primary-color: rgb(249, 249, 171);
$shadow-color: rgb(213, 144, 144);
$secondary-color: #8d2626;
$background-color-1-transparent: rgba(203, 127, 20, 0.623);
$background-color-1: rgb(203, 127, 20);
$background-color-2-glass: rgba(255, 255, 255, 0.2);
